.nav-link-container {
  background: #282828;
  height: 50px;
}
.nav-link-home {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: white;
}

.container-components {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.text-align-left {
  text-align: left;
}

.font-weight {
  font-weight: 900;
}

.ul {
  display: grid;
}

.ul > * {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
}

.ul > *:last-child {
  justify-self: left;
}

/* Make Fancy */
.li {
  display: inline-block;
  margin: 1px;
  padding: 5px;
}

.cursor {
  cursor: pointer;
}

.description-text {
  color: gray;
}
